[Desktop Entry]\
Version=1.0\
Type=Application\
Name=FireFox-R\
Comment=Browser\
Exec=/opt/firefox/./firefox\
Icon=/opt/firefox/browser/chrome/icons/default/default64.png\
Terminal=false\
StartupNotify=false\